.app {
    height: 100vh;
    background-color: rgb(217, 236, 243);
    background-size: stretch;
    /* background-image: url('https://gdurl.com/iGAh'); */
    padding: 1em;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.title {
    position: relative;
    top: 20%;
    left: 35%;
    font-family: 'Faster One', cursive;
    color:  orange;
    font-size: 80px;
    margin: auto;
    z-index: 100;
}

.subtitle {
    top: 25%;
    position: relative;
    left: 50%;
    font-family: 'Faster One', cursive;
    color:  teal;
    font-size: 40px;
    margin: auto;
    z-index: 100;
}



.question-mark {
    height: 100px;
    width: 100px;
    top: 35%;
    right: 10%;
    opacity: 0.2;
    position: relative;
    margin: auto;
    z-index: 95;
    /* animation: star;
    animation-duration: 1s;
    animation-direction: alternate; */

}

/* @keyframes star {
    0%   {left: 0%;}
    100% {left: 95%;}
  } */




/* @keyframes star {
    0%   {right: 200px} 
    25%  {right: 200px}
    50%  {right: 200px}
    75%  {right: 200px}
    100% {right: 200px}
  } */








