
.app {
    height: 100vh;
    background: #eee;
    padding: 1em;
}

#form-element {
    display: 'block';
    margin: '10px';
}

#button-shadow {
    box-shadow: 0em 0.2em 0.3em gray;
}

#floating-button-height {
    position: relative;
    right: 7vh; /*higher number moves it to the right*/
    top: 65vh; /*higher number moves it to the bottom */
}